<div class="form-signin text-center">

  <h1 class="h3 my-3 font-weight-normal">Sign Up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-group">

      <label for="inputFirstName" class="sr-only">First Name</label>
      <%= f.text_field :first_name,
                      autofocus: true,
                      autocomplete: "first_name",
                      placeholder: "First Name",
                      class: "form-control",
                      id: "inputFirstName" %>
    </div>

    <div class="form-group">

      <label for="inputLastName" class="sr-only">Last Name</label>
      <%= f.text_field :last_name,
                      autofocus: true,
                      autocomplete: "last_name",
                      placeholder: "Last Name",
                      class: "form-control",
                      id: "inputLastName" %>
    </div>

    <div class="form-group">

      <label for="inputEmail" class="sr-only">Email address</label>
      <%= f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      placeholder: "Email Adress",
                      class: "form-control",
                      id: "inputEmail" %>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <%= f.password_field :password,
                         autocomplete: "new-password",
                         placeholder: "Password",
                         class: "form-control",
                         id: "inputPassword" %>
    </div>

    <div class="form-group">
      <label for="inputPasswordConfirmation" class="sr-only">Password Confirmation</label>
      <%= f.password_field :password_confirmation,
                           autocomplete: "new-password",
                           placeholder: "Password confirmation",
                           class: "form-control",
                           id: "inputPasswordConfirmation" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign Up", class: "btn btn-lg btn-primary btn-block mb-4" %>
    </div>
  <% end %>

  <div class="text-left mb-3">
    <%= render "devise/shared/links" %>
  </div>
</div>

