<div class="form-signin text-center">

  <h1 class="h3 my-3 font-weight-normal">Log In</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <%= f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      placeholder: "Email Adress",
                      class: "form-control",
                      id: "inputEmail" %>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <%= f.password_field :password,
                         autocomplete: "current-password",
                         placeholder: "Password",
                         class: "form-control",
                         id: "inputPassword" %>
    </div>

    <div class="text-left">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "checkbox mb-3" %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block mb-4" %>
    </div>
  <% end %>

  <div class="text-left mb-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
